@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes starMove {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-2000px);
    }
  }
}

html {
  scroll-behavior: smooth;
}
